html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-size: 18px;
  font-family: 'Monaco', courier, monospace;
}

html,
body,
#app {
  height: 100%;
}

header,
main {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 0 5px #696969;
  z-index: 10;
}

header h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

main {
  display: flex;
  align-items: stretch;
  justify-items: stretch;
  height: 100%;
  hyphens: auto;
}

main > * {
  flex: 1;
  padding: 1.5rem;
}

main > *:first-child {
  border-right: 1px solid grey;
}
